.resumo {
  border: 1px solid #ECECEC;
  margin-top: 30px;
}
.resumo__titulo {
  background: var(--bg-topic);
  width: auto;
  font-family: var(--roboto);
  font-weight: 400;
  font-size: 1.375rem;
  color: #4E4E4E;
  padding: 10px 15px;
}
.resumo__conteudo {
  height: 120px;
  font-family: var(--quicksand);
  font-weight: 400;
  font-size: 0.875rem;
  color: #5C5C5C;
  line-height: 1.4375rem;
  padding: 15px;
  overflow-y: hidden;
}
#btn-resExp {
  color: var(--color-item);
  border: none;
  background: none;
  text-shadow: 2px 2px 5px orange;
  font-size: 0.875rem;
  visibility:visible;
}
.resumo__conteudo span:hover {
  cursor: pointer;
}